.map-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 6vh;
    padding: 2vh 0.5vw;
    height: 100%;
    margin-top: 20vh;
    background-color: brown;
  }

  .top-stats-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5vh;
    position: fixed;
    padding: 1vh 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
  }

  .map-square {
    width: 10vw;
    height: 10vh;
    margin: 1vw;
    background-color: rgb(203, 203, 203);
  }

  .bronze {
    background-color: rgb(166, 91, 0);
  }

  .silver {
    background-color: rgb(131, 131, 131);
  }

  .gold {background-color: gold;}

  .platinum { background-color: magenta;}

  .enemy {
    background-color: red;
  }

  .empty {
    background-color: black;
  }

  .player-here {
    background-color: rgb(22, 64, 200);
  }

 